In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [3]:
# Determine the number of unique values in each column
unique_counts = application_df.nunique()

print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 600
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_cls = 200
classifications_to_replace = classification_counts[classification_counts <= cutoff_value_cls].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [7]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)

application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [8]:
from sklearn.model_selection import train_test_split

# Split the preprocessed data into a training and testing dataset
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])
y = application_df_encoded['IS_SUCCESSFUL']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Display the shapes of the training and testing datasets
print("Training Features Shape:", X_train.shape)
print("Training Target Shape:", y_train.shape)
print("Testing Features Shape:", X_test.shape)
print("Testing Target Shape:", y_test.shape)

Training Features Shape: (25724, 44)
Training Target Shape: (25724,)
Testing Features Shape: (8575, 44)
Testing Target Shape: (8575,)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Define the model
nn = tf.keras.models.Sequential()

# Number of input features
input_features = len(X_train.columns)

# First hidden layer
nn.add(tf.keras.layers.Dense(units=60, input_dim=input_features, activation="elu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="elu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 60)                2700

 dense_1 (Dense)             (None, 30)                1830

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 4561 (17.82 KB)
Trainable params: 4561 (17.82 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [11]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adamax", metrics=["accuracy"])

In [12]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=75)

Epoch 1/75
804/804 [==============================] - 3s 3ms/step - loss: 4554.7734 - accuracy: 0.5042
Epoch 2/75
804/804 [==============================] - 3s 4ms/step - loss: 2826.5544 - accuracy: 0.5093
Epoch 3/75
804/804 [==============================] - 2s 2ms/step - loss: 3049.3586 - accuracy: 0.5130
Epoch 4/75
804/804 [==============================] - 1s 2ms/step - loss: 5414.2422 - accuracy: 0.5042
Epoch 5/75
804/804 [==============================] - 1s 2ms/step - loss: 842.0377 - accuracy: 0.5579
Epoch 6/75
804/804 [==============================] - 1s 2ms/step - loss: 7132.9082 - accuracy: 0.5187
Epoch 7/75
804/804 [==============================] - 1s 2ms/step - loss: 1926.7628 - accuracy: 0.5648
Epoch 8/75
804/804 [==============================] - 1s 2ms/step - loss: 6512.5649 - accuracy: 0.5674
Epoch 9/75
804/804 [==============================] - 2s 2ms/step - loss: 4723.1519 - accuracy: 0.5095
Epoch 10/75
804/804 [==============================] - 2s 2ms/step - loss: 2789.6604 - accuracy: 0.5652
Epoch 11/75
804/804 [==============================] - 1s 2ms/step - loss: 4217.2319 - accuracy: 0.5263
Epoch 12/75
804/804 [==============================] - 1s 2ms/step - loss: 2172.6453 - accuracy: 0.5377
Epoch 13/75
804/804 [==============================] - 1s 2ms/step - loss: 5131.6665 - accuracy: 0.5597
Epoch 14/75
804/804 [==============================] - 1s 2ms/step - loss: 922.3035 - accuracy: 0.5901
Epoch 15/75
804/804 [==============================] - 1s 2ms/step - loss: 2874.7556 - accuracy: 0.5823
Epoch 16/75
804/804 [==============================] - 1s 2ms/step - loss: 4564.9878 - accuracy: 0.5876
Epoch 17/75
804/804 [==============================] - 1s 2ms/step - loss: 5289.0493 - accuracy: 0.5447
Epoch 18/75
804/804 [==============================] - 2s 2ms/step - loss: 4483.9746 - accuracy: 0.5903
Epoch 19/75
804/804 [==============================] - 2s 2ms/step - loss: 4255.7188 - accuracy: 0.6202
Epoch 20/75
804/804 [==============================] - 1s 2ms/step - loss: 3860.2134 - accuracy: 0.5483
Epoch 21/75
804/804 [==============================] - 1s 2ms/step - loss: 5555.3872 - accuracy: 0.5749
Epoch 22/75
804/804 [==============================] - 1s 2ms/step - loss: 3472.3093 - accuracy: 0.5342
Epoch 23/75
804/804 [==============================] - 1s 2ms/step - loss: 2321.8040 - accuracy: 0.5444
Epoch 24/75
804/804 [==============================] - 1s 2ms/step - loss: 3047.0764 - accuracy: 0.5865
Epoch 25/75
804/804 [==============================] - 1s 2ms/step - loss: 2608.1042 - accuracy: 0.5587
Epoch 26/75
804/804 [==============================] - 1s 2ms/step - loss: 3090.8406 - accuracy: 0.5711
Epoch 27/75
804/804 [==============================] - 2s 3ms/step - loss: 2192.5515 - accuracy: 0.5926
Epoch 28/75
804/804 [==============================] - 2s 3ms/step - loss: 5187.7007 - accuracy: 0.5378
Epoch 29/75
804/804 [==============================] - 2s 2ms/step - loss: 3641.1077 - accuracy: 0.6139
Epoch 30/75
804/804 [==============================] - 1s 2ms/step - loss: 1758.7762 - accuracy: 0.5664
Epoch 31/75
804/804 [==============================] - 1s 2ms/step - loss: 1682.3481 - accuracy: 0.5947
Epoch 32/75
804/804 [==============================] - 1s 2ms/step - loss: 4282.1299 - accuracy: 0.5705
Epoch 33/75
804/804 [==============================] - 1s 2ms/step - loss: 4739.4546 - accuracy: 0.5564
Epoch 34/75
804/804 [==============================] - 1s 2ms/step - loss: 3769.1721 - accuracy: 0.5629
Epoch 35/75
804/804 [==============================] - 1s 2ms/step - loss: 1734.6040 - accuracy: 0.5486
Epoch 36/75
804/804 [==============================] - 2s 2ms/step - loss: 5521.3325 - accuracy: 0.5276
Epoch 37/75
804/804 [==============================] - 1s 2ms/step - loss: 2657.8286 - accuracy: 0.5626
Epoch 38/75
804/804 [==============================] - 1s 2ms/step - loss: 2607.8071 - accuracy: 0.5471
Epoch 39/75
804/804 [==============================] - 1s 2ms/step - loss: 2201.3679 - accuracy: 0.5781
Epoch 40/75
804/804 [==============================] - 1s 2ms/step - loss: 1348.7395 - accuracy: 0.5863
Epoch 41/75
804/804 [==============================] - 1s 2ms/step - loss: 2728.7986 - accuracy: 0.5403
Epoch 42/75
804/804 [==============================] - 2s 2ms/step - loss: 4737.2832 - accuracy: 0.6259
Epoch 43/75
804/804 [==============================] - 1s 2ms/step - loss: 4177.8311 - accuracy: 0.5814
Epoch 44/75
804/804 [==============================] - 2s 2ms/step - loss: 1305.6683 - accuracy: 0.6163
Epoch 45/75
804/804 [==============================] - 2s 2ms/step - loss: 4871.0977 - accuracy: 0.5924
Epoch 46/75
804/804 [==============================] - 1s 2ms/step - loss: 4869.9829 - accuracy: 0.5431
Epoch 47/75
804/804 [==============================] - 1s 2ms/step - loss: 5297.2148 - accuracy: 0.5796
Epoch 48/75
804/804 [==============================] - 1s 2ms/step - loss: 5394.9912 - accuracy: 0.5601
Epoch 49/75
804/804 [==============================] - 1s 2ms/step - loss: 4771.9766 - accuracy: 0.5322
Epoch 50/75
804/804 [==============================] - 1s 2ms/step - loss: 2252.2913 - accuracy: 0.6005
Epoch 51/75
804/804 [==============================] - 1s 2ms/step - loss: 2604.3362 - accuracy: 0.5878
Epoch 52/75
804/804 [==============================] - 1s 2ms/step - loss: 4941.3691 - accuracy: 0.5602
Epoch 53/75
804/804 [==============================] - 2s 3ms/step - loss: 3488.5715 - accuracy: 0.5987
Epoch 54/75
804/804 [==============================] - 2s 2ms/step - loss: 2378.2263 - accuracy: 0.5823
Epoch 55/75
804/804 [==============================] - 1s 2ms/step - loss: 3567.2673 - accuracy: 0.5989
Epoch 56/75
804/804 [==============================] - 1s 2ms/step - loss: 3422.3926 - accuracy: 0.5825
Epoch 57/75
804/804 [==============================] - 1s 2ms/step - loss: 3679.7625 - accuracy: 0.6069
Epoch 58/75
804/804 [==============================] - 1s 2ms/step - loss: 4795.2090 - accuracy: 0.5389
Epoch 59/75
804/804 [==============================] - 1s 2ms/step - loss: 995.7698 - accuracy: 0.6268
Epoch 60/75
804/804 [==============================] - 1s 2ms/step - loss: 5433.3267 - accuracy: 0.6194
Epoch 61/75
804/804 [==============================] - 1s 2ms/step - loss: 4938.7544 - accuracy: 0.5607
Epoch 62/75
804/804 [==============================] - 2s 2ms/step - loss: 382.5714 - accuracy: 0.6595
Epoch 63/75
804/804 [==============================] - 2s 2ms/step - loss: 4855.0400 - accuracy: 0.5942
Epoch 64/75
804/804 [==============================] - 1s 2ms/step - loss: 4832.8462 - accuracy: 0.5970
Epoch 65/75
804/804 [==============================] - 1s 2ms/step - loss: 5742.0176 - accuracy: 0.5829
Epoch 66/75
804/804 [==============================] - 1s 2ms/step - loss: 4044.8867 - accuracy: 0.6039
Epoch 67/75
804/804 [==============================] - 1s 2ms/step - loss: 4374.2490 - accuracy: 0.5537
Epoch 68/75
804/804 [==============================] - 1s 2ms/step - loss: 2170.0566 - accuracy: 0.5769
Epoch 69/75
804/804 [==============================] - 1s 2ms/step - loss: 7118.8047 - accuracy: 0.5472
Epoch 70/75
804/804 [==============================] - 2s 2ms/step - loss: 5590.4326 - accuracy: 0.5412
Epoch 71/75
804/804 [==============================] - 2s 2ms/step - loss: 2062.6704 - accuracy: 0.6093
Epoch 72/75
804/804 [==============================] - 1s 2ms/step - loss: 2139.7095 - accuracy: 0.6317
Epoch 73/75
804/804 [==============================] - 1s 2ms/step - loss: 4754.6748 - accuracy: 0.5933
Epoch 74/75
804/804 [==============================] - 1s 2ms/step - loss: 2306.4805 - accuracy: 0.5902
Epoch 75/75
804/804 [==============================] - 1s 2ms/step - loss: 4773.0884 - accuracy: 0.6227

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 2.8917 - accuracy: 0.5756 - 581ms/epoch - 2ms/step
Loss: 2.891691207885742, Accuracy: 0.5756268501281738

In [14]:
# Save the model and results
nn.save("AlphabetSoupCharityOptimization3.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(